http:
  routers:
    wildcard_infra:
      rule: "Host(`_wildcard.infra.the-lab.zone`)"
      service: "noop@internal"
      priority: 1
      entryPoints:
        - "websecure"
      tls:
        certResolver: "cloudflare"
        domains:
          - main: "infra.the-lab.zone"
            sans:
              - "*.infra.the-lab.zone"

    wildcard_platform:
      rule: "Host(`_wildcard.platform.the-lab.zone`)"
      service: "noop@internal"
      priority: 1
      entryPoints:
        - "websecure"
      tls:
        certResolver: "cloudflare"
        domains:
          - main: "platform.the-lab.zone"
            sans:
              - "*.platform.the-lab.zone"

    wildcard_tooling:
      rule: "Host(`_wildcard.tooling.the-lab.zone`)"
      service: "noop@internal"
      priority: 1
      entryPoints:
        - "websecure"
      tls:
        certResolver: "cloudflare"
        domains:
          - main: "tooling.the-lab.zone"
            sans:
              - "*.tooling.the-lab.zone"

    wildcard_apps:
      rule: "Host(`_wildcard.apps.the-lab.zone`)"
      service: "noop@internal"
      priority: 1
      entryPoints:
        - "websecure"
      tls:
        certResolver: "cloudflare"
        domains:
          - main: "apps.the-lab.zone"
            sans:
              - "*.apps.the-lab.zone"

    wildcard_k8s:
      rule: "Host(`_wildcard.k8s.the-lab.zone`)"
      service: "noop@internal"
      priority: 1
      entryPoints:
        - "websecure"
      tls:
        certResolver: "cloudflare"
        domains:
          - main: "k8s.the-lab.zone"
            sans:
              - "*.k8s.the-lab.zone"

    wildcard_root:
      rule: "Host(`_wildcard.the-lab.zone`)"
      service: "noop@internal"
      priority: 1
      entryPoints:
        - "websecure"
      tls:
        certResolver: "cloudflare"
        domains:
          - main: "the-lab.zone"
            sans:
              - "*.the-lab.zone"

    proxmox:
      rule: "Host(`proxmox.infra.the-lab.zone`)"
      service: "proxmox"
      entryPoints:
        - "websecure"
      tls: {}

    truenas:
      rule: "Host(`nas.infra.the-lab.zone`)"
      service: "truenas"
      entryPoints:
        - "websecure"
      tls: {}

    unifi:
      rule: "Host(`unifi.infra.the-lab.zone`)"
      service: "unifi"
      entryPoints:
        - "websecure"
      tls: {}

    traefik:
      rule: "Host(`traefik.infra.the-lab.zone`)"
      service: "traefik"
      entryPoints:
        - "websecure"
      tls: {}

    k8s_platform_cluster:
      rule: "HostRegexp(`^[a-z0-9-]+\\.platform\\.the-lab\\.zone$`)"
      service: "k8s_platform_cluster"
      entryPoints:
        - "websecure"
      tls: {}

  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.40.0.200:8006"
        serversTransport: "insecureTransport"

    truenas:
      loadBalancer:
        servers:
          - url: "https://10.40.0.4"
        serversTransport: "insecureTransport"

    unifi:
      loadBalancer:
        servers:
          - url: "https://10.40.0.1"
        serversTransport: "insecureTransport"

    k8s_platform_cluster:
      loadBalancer:
        servers:
          - url: "http://10.40.2.1"

    traefik:
      loadBalancer:
        servers:
          - url: "http://localhost:8080"
        serversTransport: "insecureTransport"

  serversTransports:
    insecureTransport:
      insecureSkipVerify: true

tcp:
  routers:
    gitea-ssh:
      entryPoints:
        - "gitea-ssh"
      rule: "HostSNI(`*`)"
      service: "gitea-ssh"
  services:
    gitea-ssh:
      loadBalancer:
        servers:
          - address: "10.40.0.1:22"
