scope: {{ patroni_scope }}
name: {{ patroni_name }}

restapi:
  listen: 0.0.0.0:{{ patroni_rest_port }}
  connect_address: {{ ansible_host }}:{{ patroni_rest_port }}

raft:
  self_addr: {{ ansible_host }}:{{ patroni_raft_port }}
  data_dir: /var/lib/patroni/raft

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      parameters:
        max_connections: 100
        shared_buffers: 2GB
        effective_cache_size: 6GB
        work_mem: 32MB
        maintenance_work_mem: 256MB
        wal_level: replica
{% if pgbackrest_enabled | default(false) %}
        archive_mode: "on"
        archive_command: pgbackrest --stanza={{ pgbackrest_stanza }} archive-push %p
        archive_timeout: 60
{% else %}
        archive_mode: "off"
{% endif %}
        checkpoint_completion_target: 0.9
        random_page_cost: 1.1
        effective_io_concurrency: 200

postgresql:
  listen: 0.0.0.0:{{ pg_port }}
  connect_address: {{ ansible_host }}:{{ pg_port }}
  data_dir: {{ pg_data_dir }}
  bin_dir: /usr/lib/postgresql/{{ pg_version }}/bin
  pgpass: /var/lib/postgresql/.pgpass
  authentication:
    replication:
      username: replicator
      password: "{{ patroni_replication_password }}"
    superuser:
      username: postgres
      password: "{{ patroni_superuser_password }}"
