[global]
repo1-type=s3
repo1-path={{ pgbackrest_repo_path }}
repo1-s3-bucket={{ pgbackrest_s3_bucket }}
repo1-s3-endpoint={{ pgbackrest_s3_endpoint }}
repo1-s3-region={{ pgbackrest_s3_region }}
repo1-s3-uri-style=path
repo1-s3-key={{ pgbackrest_s3_key }}
repo1-s3-key-secret={{ pgbackrest_s3_secret }}
repo1-retention-full={{ pgbackrest_retention_full }}
repo1-retention-diff={{ pgbackrest_retention_diff }}
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ pgbackrest_repo_cipher_pass }}

compress-type=lz4
compress-level=6
process-max=2

log-level-console=info
log-level-file=detail
log-path=/var/log/pgbackrest

[{{ pgbackrest_stanza }}]
pg1-path={{ pg_data_dir }}
pg1-port={{ pg_port }}
pg1-socket-path=/var/run/postgresql
