# yaml-language-server: $schema=https://atmos.tools/schemas/atmos/atmos-manifest/1.0/atmos-manifest.json

import:
  - catalog/_default.yaml

vars:
  stage: platform

components:
  terraform:
    traefik:
      settings:
        apply_auto_approve: false
      vars:
        traefik:
          id: 500
          hostname: "traefik"
          description: "Traefik"
          ip_cidr: "192.168.40.50/24"
          dns:
            servers: ["1.1.1.1", "1.0.0.1"]          
        container:
          image:
            repository: "traefik"
            tag: "v3.0"
          resources:
            cpu: 2
            memory: 2048
            disk:
              size: 5
          mount_points:            
            - volume: "ssd-standard"
              path: "/traefik/acme"
              size: "2G"